.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.Python
env/
ENV/
build/
dist/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
.vscode/
/.idea/
models/
data/*.csv
*.log
*.sqlite3
.DS_Store
/.env
/.venv
env.bak/
*.egg-info/
